:root,
:host {
  --size-0: 0rem;
  --size-1: 0.0625rem;
  --size-2: 0.125rem;
  --size-4: 0.25rem;
  --size-6: 0.375rem;
  --size-8: 0.5rem;
  --size-10: 0.625rem;
  --size-11: 0.6875rem;
  --size-12: 0.75rem;
  --size-13: 0.8125rem;
  --size-14: 0.875rem;
  --size-15: 0.9375rem;
  --size-16: 1rem;
  --size-17: 1.0625rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-28: 1.75rem;
  --size-32: 2rem;
  --size-36: 2.25rem;
  --size-40: 2.5rem;
  --size-44: 2.75rem;
  --size-48: 3rem;
  --size-52: 3.25rem;
  --size-56: 3.5rem;
  --size-60: 3.75rem;
  --size-64: 4rem;
  --size-72: 4.5rem;
  --size-80: 5rem;
  --size-128: 8rem;
  --size-160: 10rem;
  --size-192: 12rem;
  --size-224: 14rem;
  --size-256: 16rem;
  --size-320: 20rem;
  --size-384: 24rem;
  --size-448: 28rem;
  --size-512: 32rem;
  --size-640: 40rem;
  --size-768: 48rem;
  --size-1024: 64rem;
  --size-1280: 80rem;
  --size-1600: 100rem;
  --size-1920: 120rem;
  --palette-gray-96: hsla(0, 0%, 96%, 1);
  --palette-gray-93: hsla(210, 5%, 93%, 1);
  --palette-gray-84: hsla(220, 7%, 84%, 1);
  --palette-gray-74: hsla(214, 9%, 74%, 1);
  --palette-gray-58: hsla(216, 8%, 58%, 1);
  --palette-gray-46: hsla(219, 8%, 46%, 1);
  --palette-gray-34: hsla(221, 10%, 34%, 1);
  --palette-gray-23: hsla(221, 13%, 23%, 1);
  --palette-gray-16: hsla(221, 15%, 16%, 1);
  --palette-gray-11: hsla(226, 15%, 11%, 1);
  --palette-blue-97: hsla(212, 100%, 97%, 1);
  --palette-blue-92: hsla(212, 94%, 92%, 1);
  --palette-blue-83: hsla(213, 95%, 83%, 1);
  --palette-blue-69: hsla(213, 97%, 69%, 1);
  --palette-blue-60: hsla(215, 97%, 60%, 1);
  --palette-blue-42: hsla(216, 88%, 42%, 1);
  --palette-blue-31: hsla(218, 92%, 31%, 1);
  --palette-blue-23: hsla(219, 91%, 23%, 1);
  --palette-blue-16: hsla(220, 90%, 16%, 1);
  --palette-blue-9: hsla(219, 87%, 9%, 1);
  --palette-red-96: hsla(0, 90%, 96%, 1);
  --palette-red-92: hsla(0, 94%, 92%, 1);
  --palette-red-82: hsla(2, 97%, 82%, 1);
  --palette-red-73: hsla(2, 95%, 73%, 1);
  --palette-red-63: hsla(1, 88%, 63%, 1);
  --palette-red-48: hsla(0, 67%, 48%, 1);
  --palette-red-38: hsla(358, 73%, 38%, 1);
  --palette-red-27: hsla(2, 80%, 27%, 1);
  --palette-red-19: hsl(1, 81%, 19%);
  --palette-red-12: #360807;
  --palette-green-93: hsla(146, 87%, 93%, 1);
  --palette-green-85: hsla(151, 75%, 85%, 1);
  --palette-green-66: hsla(154, 64%, 66%, 1);
  --palette-green-46: hsla(157, 65%, 46%, 1);
  --palette-green-39: hsla(156, 73%, 39%, 1);
  --palette-green-27: hsla(157, 88%, 27%, 1);
  --palette-green-22: hsla(157, 85%, 22%, 1);
  --palette-green-17: hsla(157, 77%, 17%, 1);
  --palette-green-11: hsla(156, 80%, 11%, 1);
  --palette-green-8: hsla(154, 76%, 8%, 1);
  --palette-orange-93: hsla(36, 100%, 93%, 1);
  --palette-orange-88: hsla(33, 100%, 88%, 1);
  --palette-orange-74: hsla(34, 98%, 74%, 1);
  --palette-orange-63: hsla(32, 95%, 63%, 1);
  --palette-orange-55: hsla(30, 89%, 55%, 1);
  --palette-orange-45: hsla(28, 81%, 45%, 1);
  --palette-orange-34: hsla(28, 86%, 34%, 1);
  --palette-orange-24: hsla(28, 87%, 24%, 1);
  --palette-orange-18: hsla(31, 82%, 18%, 1);
  --palette-orange-13: hsla(28, 73%, 13%, 1);
  --palette-yellow-90: hsla(53, 92%, 90%, 1);
  --palette-yellow-83: hsla(48, 95%, 83%, 1);
  --palette-yellow-71: hsla(44, 94%, 71%, 1);
  --palette-yellow-50: hsla(45, 88%, 50%, 1);
  --palette-yellow-43: hsla(43, 100%, 43%, 1);
  --palette-yellow-37: hsla(42, 100%, 37%, 1);
  --palette-yellow-29: hsla(41, 100%, 29%, 1);
  --palette-yellow-23: hsla(41, 100%, 23%, 1);
  --palette-yellow-16: hsla(43, 100%, 16%, 1);
  --palette-yellow-11: hsla(46, 100%, 11%, 1);
  --font-family-source-sans: "Source Sans 3", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --font-family-source-serif: "Source Serif 4", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --font-family-charter: "CharterBold", "Georgia", Times, serif;
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400; /* normal */
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700; /* bold */
  --font-weight-800: 800;
  --font-weight-900: 900;

  /* font style */
  --font-style-normal: normal;
  --font-style-italic: italic;
  --font-style-oblique: oblique;

  --shadow-0_08: 0 0 12px 0 rgba(18, 18, 18, 0.08);
  --shadow-0_16: 0 0 12px 0 rgba(18, 18, 18, 0.16);
  --shadow-0_24: 0 0 12px 0 rgba(18, 18, 18, 0.24);
  --shadow-0_32: 0 0 12px 0 rgba(18, 18, 18, 0.32);
  --shadow-0_48: 0 0 12px 0 rgba(18, 18, 18, 0.48);
  --shadow-0_64: 0 0 12px 0 rgba(18, 18, 18, 0.64);
  --shadow-0_72: 0 0 12px 0 rgba(18, 18, 18, 0.72);
  --shadow-0_96: 0 0 16px 0 rgba(18, 18, 18, 0.96);
  --elevation-0: 0;
  --elevation-2000000: 2000000;
  --elevation-4000000: 4000000;
  --elevation-6000000: 6000000;
  --elevation-8000000: 8000000;
  --elevation-10000000: 10000000;
  --elevation-12000000: 12000000;
  --elevation-14000000: 14000000;
  --elevation-2000000: -2000000;
}
