/* RESET */

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  all: unset;
}

ul {
  all: unset;
}

li {
  all: unset;
}

:root {
  --background-primary: var(--colors-purple-900);
  --background-secondary: var(--colors-midnight-violet-900);
  --font-family-primary: "Roboto", sans-serif;
  --text-color-primary: var(--colors-white);
  --text-color-secondary: var(--colors-cyan-500);
}
