/************************/
/*      BASE/LIGHT      */
/************************/

/* DEFAULT */
.button {
  box-sizing: border-box;
  border-radius: var(--container-action-radius-default);
  cursor: pointer;
  display: inline-flex;
  gap: var(--space-2xs);
  align-items: center;
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-bold);
  white-space: nowrap;
}

/* FOCUS */
/* .button:not(:disabled):focus-visible {
  outline: var(--space-3xs) solid var(--color-primary-700);
  outline-offset: var(--space-3xs);
} */

.button[data-background="solid"][data-variant="primary"]:disabled,
.button[data-background="outlined"][data-variant="primary"]:disabled,
.button[data-background="transparent"][data-variant="primary"]:disabled,
.button[data-background="outlined"][data-variant="neutral"]:disabled,
.button[data-background="transparent"][data-variant="neutral"]:disabled,
.button[data-background="solid"][data-variant="secondary"]:disabled {
  cursor: not-allowed;
  opacity: var(--opacity-disabled);
}

/* BACKGROUNDS - LIGHT MODE DEFAULTS */
.button[data-background="solid"][data-variant="primary"] {
  background-color: var(--palette-action-background-primary-solid-default);
  border-color: var(--palette-action-border-primary-solid-default);
  border-style: solid;
  border-width: var(--border-width-sm);
  color: var(--palette-action-content-primary-solid-default);
  transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out,
    border-color 0.25s ease-in-out;
}

.button[data-background="solid"][data-variant="primary"]:not(:disabled):hover {
  border-color: var(--palette-action-border-primary-solid-hover);
  background-color: var(--palette-action-background-primary-solid-hover);
}

.button[data-background="outlined"][data-variant="primary"] {
  border-color: var(--palette-action-border-primary-outlined-default);
  background-color: var(--palette-action-background-primary-outlined-default);
  border-style: solid;
  border-width: var(--border-width-sm);
  color: var(--palette-action-content-primary-outlined-default);
  transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out,
    border-color 0.25s ease-in-out;
}

.button[data-background="outlined"][data-variant="primary"]:not(
    :disabled
  ):hover {
  background-color: var(--palette-action-background-primary-outlined-hover);
  border-color: var(--palette-action-border-primary-outlined-hover);
}

/* .button[data-background="outlined"][data-variant="primary"]:not(
    :disabled
  ):active {
  box-shadow: 0px 0px 0px 6px rgba(12, 87, 205, 0.16);
} */

.button[data-background="transparent"][data-variant="primary"] {
  background-color: var(
    --palette-action-background-primary-transparent-default
  );
  border-color: var(--palette-action-border-primary-transparent-default);
  color: var(--palette-action-content-primary-transparent-default);
  transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out,
    border-color 0.25s ease-in-out;
}

.button[data-background="transparent"][data-variant="primary"]:not(
    :disabled
  ):hover {
  border-color: var(--palette-action-border-primary-transparent-hover);
  background-color: var(--palette-action-background-primary-transparent-hover);
}

.button[data-background="transparent"][data-variant="primary"]:not(
    :disabled
  ):active {
  box-shadow: none;
  background-color: var(--palette-action-background-primary-transparent-active);
  border-color: var(--palette-action-border-primary-transparent-active);
}

.button[data-background="outlined"][data-variant="neutral"] {
  --gds-button-border-width-inline-start: var(--border-width-sm);

  border-color: var(--palette-action-border-neutral-outlined-default);
  border-width: var(--border-width-sm);
  border-inline-start-width: var(--gds-button-border-width-inline-start);
  border-style: solid;
  box-shadow: none;
  background-color: var(--palette-action-background-neutral-outlined-default);
  color: var(--palette-action-content-neutral-outlined-default);
  transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out,
    border-color 0.25s ease-in-out;
}

.button[data-background="outlined"][data-variant="neutral"]:not(
    :disabled
  ):hover {
  background-color: var(--palette-action-background-neutral-outlined-hover);
  border-color: var(--palette-action-border-neutral-outlined-hover);
}

/* .button[data-background="outlined"][data-variant="neutral"]:not(
    :disabled
  ):active {
  box-shadow: 0px 0px 0px 6px rgba(107, 114, 128, 0.16);
} */

.button[data-background="transparent"][data-variant="neutral"] {
  border-style: solid;
  box-shadow: none;
  border-color: transparent;
  background-color: transparent;
  color: var(--palette-action-content-neutral-transparent-default);
  transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out,
    border-color 0.25s ease-in-out;
}

.button[data-background="transparent"][data-variant="neutral"]:not(
    :disabled
  ):hover {
  border-color: var(--palette-action-border-neutral-transparent-hover);
  background-color: var(--palette-action-background-neutral-transparent-hover);
}

.button[data-background="transparent"][data-variant="neutral"]:not(
    :disabled
  ):active {
  border-color: var(--palette-action-border-neutral-transparent-active);
  background-color: var(--palette-action-background-neutral-transparent-active);
}

/* SIZES */
.button[data-size="md"] {
  font-size: var(--font-size-2xs);
  letter-space: var(--letter-space-2xs);
  line-height: var(--line-height-2xs);
  height: var(--space-xl);
  padding-block-start: var(--space-3xs);
  padding-block-end: var(--space-3xs);
  padding-inline-start: var(--space-xs);
  padding-inline-end: var(--space-xs);
}

.button[data-size="lg"] {
  font-size: var(--font-size-sm);
  letter-space: var(--letter-space-sm);
  line-height: var(--line-height-sm);
  height: var(--space-2xl);
  padding-block-start: var(--primitive-6);
  padding-block-end: var(--primitive-6);
  padding-inline-start: var(--space-sm);
  padding-inline-end: var(--space-sm);
}

.button[data-size="xl"] {
  font-size: var(--font-size-lg);
  height: var(--space-3xl);
  letter-space: var(--letter-space-lg);
  line-height: 22px; /* Custom line-height */
  padding-block-start: var(--space-sm);
  padding-block-end: var(--space-sm);
  padding-inline-start: var(--space-md);
  padding-inline-end: var(--space-md);
}

/* SPACE */
.button[data-width="full"] {
  width: 100%;
  justify-content: center;
}

/* SHAPE */
.button[data-rounded="left"] {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}
.button[data-rounded="right"] {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}
.button[data-rounded="none"] {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

/********************************************/
/*   DARK MODE via PREFERS-COLOR-SCHEME     */
/********************************************/
/* @media (prefers-color-scheme: dark) {
  .button[data-background="solid"][data-variant="primary"] {
    background-color: var(--color-primary-600);
    border-color: var(--color-primary-600);
    color: var(--color-neutral-lightest);
    box-shadow: none;
  }
  .button[data-background="solid"][data-variant="primary"]:not(
      :disabled
    ):hover {
    border-color: var(--color-primary-700);
    background-color: var(--color-primary-700);
  }
  .button[data-background="solid"][data-variant="primary"]:not(
      :disabled
    ):active {
    box-shadow: 0px 0px 0px 6px rgba(12, 87, 205, 0.16);
  }

  .button[data-background="outlined"][data-variant="primary"] {
    border-color: var(--color-primary-400);
    background-color: var(--color-neutral-darkest);
    color: var(--color-primary-400);
  }
  .button[data-background="outlined"][data-variant="primary"]:not(
      :disabled
    ):hover {
    background-color: var(--color-primary-1000);
    border-color: var(--color-primary-400);
  }

  .button[data-background="transparent"][data-variant="primary"] {
    background-color: transparent;
    border-color: transparent;
    color: var(--color-primary-400);
  }
  .button[data-background="transparent"][data-variant="primary"]:not(
      :disabled
    ):hover {
    border-color: var(--color-neutral-900);
    background-color: var(--color-neutral-900);
  }
  .button[data-background="transparent"][data-variant="primary"]:not(
      :disabled
    ):active {
    background-color: var(--color-neutral-800);
    border-color: var(--color-neutral-800);
    box-shadow: none;
  }

  .button[data-background="outlined"][data-variant="neutral"] {
    border-color: var(--color-neutral-600);
    background-color: var(--color-neutral-darkest);
    color: var(--color-neutral-lightest);
    box-shadow: none;
  }
  .button[data-background="outlined"][data-variant="neutral"]:not(
      :disabled
    ):hover {
    background-color: var(--color-neutral-900);
  }
  .button[data-background="outlined"][data-variant="neutral"]:not(
      :disabled
    ):active {
    box-shadow: 0px 0px 0px 6px rgba(107, 114, 128, 0.16);
  }

  .button[data-background="transparent"][data-variant="neutral"] {
    border-color: transparent;
    background-color: transparent;
    color: var(--color-neutral-lightest);
    box-shadow: none;
  }
  .button[data-background="transparent"][data-variant="neutral"]:not(
      :disabled
    ):hover {
    border-color: var(--color-neutral-900);
    background-color: var(--color-neutral-900);
  }
  .button[data-background="transparent"][data-variant="neutral"]:not(
      :disabled
    ):active {
    border-color: var(--color-neutral-800);
    background-color: var(--color-neutral-800);
    box-shadow: none;
  }

  .button[data-background="solid"][data-variant="danger"] {
    border-color: var(--color-danger-600);
    box-shadow: none;
  }
  .button[data-background="solid"][data-variant="danger"]:not(:disabled):hover {
    border-color: var(--color-danger-700);
    background-color: var(--color-danger-700);
    box-shadow: none;
  }
  .button[data-background="solid"][data-variant="danger"]:not(
      :disabled
    ):active {
    box-shadow: 0px 0px 0px 6px rgba(209, 40, 40, 0.16);
  }

  .button[data-background="outlined"][data-variant="danger"] {
    border-color: var(--color-danger-400);
    background-color: var(--color-neutral-darkest);
    color: var(--color-danger-400);
    box-shadow: none;
  }
  .button[data-background="outlined"][data-variant="danger"]:not(
      :disabled
    ):hover {
    background-color: var(--color-danger-1000);
    color: var(--color-danger-400);
    box-shadow: none;
  }
  .button[data-background="outlined"][data-variant="danger"]:not(
      :disabled
    ):active {
    box-shadow: 0px 0px 0px 6px rgba(209, 40, 40, 0.16);
  }
} */

/********************************/
/*   DARK MODE via DATA-MODE    */
/********************************/
.button[data-mode="dark"][data-background="solid"][data-variant="primary"] {
  background-color: var(--color-primary-600);
  border-color: var(--color-primary-600);
  color: var(--color-neutral-lightest);
  box-shadow: none;
}
.button[data-mode="dark"][data-background="solid"][data-variant="primary"]:not(
    :disabled
  ):hover {
  border-color: var(--color-primary-700);
  background-color: var(--color-primary-700);
}
.button[data-mode="dark"][data-background="solid"][data-variant="primary"]:not(
    :disabled
  ):active {
  box-shadow: 0px 0px 0px 6px rgba(12, 87, 205, 0.16);
}

.button[data-mode="dark"][data-background="outlined"][data-variant="primary"] {
  border-color: var(--color-primary-400);
  background-color: var(--color-neutral-darkest);
  color: var(--color-primary-400);
}
.button[data-mode="dark"][data-background="outlined"][data-variant="primary"]:not(
    :disabled
  ):hover {
  background-color: var(--color-primary-1000);
  border-color: var(--color-primary-400);
}
.button[data-mode="dark"][data-background="outlined"][data-variant="primary"]:not(
    :disabled
  ):active {
  box-shadow: 0px 0px 0px 6px rgba(12, 87, 205, 0.16);
}

.button[data-mode="dark"][data-background="transparent"][data-variant="primary"] {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary-400);
}
.button[data-mode="dark"][data-background="transparent"][data-variant="primary"]:not(
    :disabled
  ):hover {
  border-color: var(--color-neutral-900);
  background-color: var(--color-neutral-900);
}
.button[data-mode="dark"][data-background="transparent"][data-variant="primary"]:not(
    :disabled
  ):active {
  background-color: var(--color-neutral-800);
  border-color: var(--color-neutral-800);
  box-shadow: none;
}

.button[data-mode="dark"][data-background="outlined"][data-variant="neutral"] {
  border-color: var(--color-neutral-600);
  background-color: var(--color-neutral-darkest);
  color: var(--color-neutral-lightest);
  box-shadow: none;
}
.button[data-mode="dark"][data-background="outlined"][data-variant="neutral"]:not(
    :disabled
  ):hover {
  background-color: var(--color-neutral-900);
}
.button[data-mode="dark"][data-background="outlined"][data-variant="neutral"]:not(
    :disabled
  ):active {
  box-shadow: 0px 0px 0px 6px rgba(107, 114, 128, 0.16);
}

.button[data-mode="dark"][data-background="transparent"][data-variant="neutral"] {
  border-color: transparent;
  background-color: transparent;
  color: var(--color-neutral-lightest);
  box-shadow: none;
}
.button[data-mode="dark"][data-background="transparent"][data-variant="neutral"]:not(
    :disabled
  ):hover {
  border-color: var(--color-neutral-900);
  background-color: var(--color-neutral-900);
}
.button[data-mode="dark"][data-background="transparent"][data-variant="neutral"]:not(
    :disabled
  ):active {
  border-color: var(--color-neutral-800);
  background-color: var(--color-neutral-800);
  box-shadow: none;
}

.button[data-mode="dark"][data-background="solid"][data-variant="danger"] {
  border-color: var(--color-danger-600);
  box-shadow: none;
}
.button[data-mode="dark"][data-background="solid"][data-variant="danger"]:not(
    :disabled
  ):hover {
  border-color: var(--color-danger-700);
  background-color: var(--color-danger-700);
  box-shadow: none;
}
.button[data-mode="dark"][data-background="solid"][data-variant="danger"]:not(
    :disabled
  ):active {
  box-shadow: 0px 0px 0px 6px rgba(209, 40, 40, 0.16);
}

.button[data-mode="dark"][data-background="outlined"][data-variant="danger"] {
  border-color: var(--color-danger-400);
  background-color: var(--color-neutral-darkest);
  color: var(--color-danger-400);
  box-shadow: none;
}
.button[data-mode="dark"][data-background="outlined"][data-variant="danger"]:not(
    :disabled
  ):hover {
  background-color: var(--color-danger-1000);
  color: var(--color-danger-400);
  box-shadow: none;
}
.button[data-mode="dark"][data-background="outlined"][data-variant="danger"]:not(
    :disabled
  ):active {
  box-shadow: 0px 0px 0px 6px rgba(209, 40, 40, 0.16);
}
